<% if session[:first_name] %>
  <p class="title"><%= "Welcome to your personal page, #{session[:first_name]}!" %></p>
  <div id="upper_content">
  <div id="facebook">
    <h3 class="title">Facebook</h3>
    <% if @facebook %>
      <form action="/facebook" method="post">
        Post to wall: <input type="text" name="wall_post">
        <input type="submit" value="Post">
      </form>
      <% @messages.each do |message| %>
        <p><%= message %></p>
      <% end %>
    <% else %>
      <button><a href="/sign_in_FB">Add your FB account</a></button>
    <% end %>
  </div>
  <div id="twitter">
    <h3 class="title">Twitter</h3>
    <% if @twitter %>      
      <form action="/tweet" method="post">
        Tweet: <input type="text" name="tweet">
        <input type="submit" value="Tweet">
      </form>
      <% @tweets.each do |tweet| %>
        <p><%= tweet %></p>
      <% end %>
    <% else %>
      <button><a href="/sign_in_twitter">Add My Twitter Account</a></button>
    <% end %>
  </div>
  </div>
  <div id="scanning_message"></div>
  <div id="personality_form" class="form_partial"><%= erb :self_evaluation %></div>
  <div id="deficiencies" class="form_partial"><%= erb :deficiencies %></div>
  <% if @twitter && @facebook %>
    <p id="eval_heading"><em>Anxious? Overwhelmed? Click below for help on Twitter and Facebook!</em></p>
    <button id="evaluate">Evaluate My Online Presence</button>
  <% end %>

<!-- In the event that user is not yet logged in -->
<% else %>
<div class="landing">
  <div class="header">
    <p id="account">Already have an account? <a href="/login">Log in</a>.</p>
    <h1 id="bearpunch">Bear Punch</h1>
  </div>
  <br><br>
  <div class="subheader">
    <p><em>What could possibly go wrong?</em></p>
    <h3>Your personal social dashboard and curator. Sign up below:</h3>
  </div>
  <div class="signup">
    <br><br>
    <form action="/" method="post">
      <p>Email address: <input type="text" name="email"></p>
      <p>First name: <input type="text" name="first_name"></p>
      <p>Last name: <input type="text" name="last_name"></p>  
      <p>Password: <input type="password" name="password"></p>
      <input type="submit" value="Create Account">
    </form>
  </div>
</div>
<% end %>